##############################################################################
##
##  This file is part of the Chaos Kernel, and is made available under
##  the terms of the GNU General Public License version 2.
##
##  Copyright (C) 2017 - Benjamin Grange <benjamin.grange@epitech.eu>
##
##############################################################################

# Outputs
/build/
*.iso
*.bin
*.gch
*.o
*.d
*.a
*.so
*.img

# Kernel configuration
/kconfig
/include/kconfig.*

# Userspace programs
/userspace/init
/userspace/chess
/userspace/pong
/userspace/cat
/userspace/touch
/userspace/game
/userspace/test

# Userspace filesystem
/userspace/dumbfs

# Editor
*~
*.swp
*#
*.vim
.syntastic_c_config

# Debug
peda*
.gdb*
